html, body, .content {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F5F5;
    color: #616161;
}

.content {
    position: relative;
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transform: translateX(-20px);
    transition: visibility 0s .12s linear , opacity .12s ease-in, transform .12s ease-in;
}

.is_shown {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    transition: visibility 0s 0s linear , opacity .36s ease-out, transform .36s ease-out;
}

.gs_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
}

.gs_card {
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gs_card > h1 {
    position: relative;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #1664c0;
    color: white;
    padding: 15px;
    margin: 0 0 30px 0;
}

.gs_card > input {
    border: none;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    border-bottom: 2px solid #e0e0e0;
    padding: 5px;
    transition: border 250ms ease-out;
}

.gs_card > input:focus {
    border-bottom: 2px solid #1664c0;
}

.navigate {
    display: inline-block;
    align-self: flex-end;
    padding: 10px;
    color: #1664c0;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

#submitClicker {
    margin-top: 20px;
}

.button {
    display: inline-block;
    border-radius: 20px;
    padding: 10px;
    color: white;
    background-color: #1664c0;
}