html, body, .content {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F5F5;
    color: #616161;
}

.content {
    position: relative;
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transform: translateX(-20px);
    transition: visibility 0s .12s linear , opacity .12s ease-in, transform .12s ease-in;
}

.is_shown {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    transition: visibility 0s 0s linear , opacity .36s ease-out, transform .36s ease-out;
}

.gs_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
}

.gs_card {
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gs_card > h1 {
    position: relative;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #1664c0;
    color: white;
    padding: 15px;
    margin: 0 0 30px 0;
}

.gs_card > input {
    border: none;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    border-bottom: 2px solid #e0e0e0;
    padding: 5px;
    transition: border 250ms ease-out;
}

.gs_card > input:focus {
    border-bottom: 2px solid #1664c0;
}

.navigate {
    display: inline-block;
    align-self: flex-end;
    padding: 10px;
    color: #1664c0;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

#submitClicker {
    margin-top: 20px;
}

.button {
    display: inline-block;
    border-radius: 20px;
    padding: 10px;
    color: white;
    background-color: #1664c0;
    transition: background-color 0.4s ease;
    user-select: none;
    cursor: pointer;
}

.button:hover {
    background-color: #08448a;
}

.button:active {
    background-color:#447ec2;
    transition: backgound-color 0.1s ease;
}

.clicker_container {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.clicker_container > .title {
    margin: 0 0 20px 0;
    padding: 0;
    text-align: center;
}

.column_container {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
}

.column_container > .column {
    flex: 1;
    height: 100%;
}

.button_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clicker_button {
    background-color: #1664c0;
    transition: background-color 0.4s ease;

    margin: 5px;
    border-radius: 5px;
    flex: 1;
    max-width: 300px;
    min-width: 200px;

    color: white;
    text-align: center;
    font-size: 18px;

    user-select: none;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.clicker_button .fa-check {
    position: absolute;
    right: 10px;
    top: 10px;
    color: white; 
    font-size: 18px;
    opacity: 0;
    transition: opacity 0.2s ease;
}

/* .unselected {
    background-color:#6490c4;
} */

.clicker_button:hover {
    background-color: #08448a;
}

.clicker_button:active {
    background-color:#447ec2;
    transition: backgound-color 0.1s ease;
}

.clicked > .fa-check {
    opacity: 1;
}

#freq-select {
    max-width: 300px;
    min-width: 200px;
    margin-bottom: 20px;
}

/* .clicker_button.clicked {
    color: #1664c0;
    background-color: #f5dcaa;
}

.clicker_button.clicked:hover {
    color: #1664c0;
    background-color: #f6c868;
} */

/* .well {
    max-width: 200px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    font-size: 32px;
} */