<template id="clicker">
    <div class="clicker_container page">
        <h1 class="title">uClicker</h1>
        <div class="column_container">
            <div class="column button_container">
                <div class="clicker_button"><i class="fas fa-check"></i><div>A</div></div>
                <div class="clicker_button"><i class="fas fa-check"></i><div>B</div></div>
                <div class="clicker_button"><i class="fas fa-check"></i><div>C</div></div>
                <div class="clicker_button"><i class="fas fa-check"></i><div>D</div></div>
                <div class="clicker_button"><i class="fas fa-check"></i><div>E</div></div>
            </div>
        </div>
    </div>
    <script>
        require('../scripts/clicker.js');
    </script>
</template>