<template id="clicker">
    <div class="clicker_container page">
        <h1 class="title">uClicker</h1>
        <div class="column_container">
            <div class="column button_container">
                Change Frequencies
                <select id="freq-select">
                    <option value="AA">AA</option>
                    <option value="AB">AB</option>
                    <option value="AC">AC</option>
                    <option value="AD">AD</option>
                    <option value="BA">BA</option>
                    <option value="BB">BB</option>
                    <option value="BC">BC</option>
                    <option value="BD">BD</option>
                    <option value="CA">CA</option>
                    <option value="CB">CB</option>
                    <option value="CC">CC</option>
                    <option value="CD">CD</option>
                    <option value="DA">DA</option>
                    <option value="DB">DB</option>
                    <option value="DC">DC</option>
                    <option value="DD">DD</option>
                </select>
                <div class="clicker_button"><i class="fas fa-check"></i><div>A</div></div>
                <div class="clicker_button"><i class="fas fa-check"></i><div>B</div></div>
                <div class="clicker_button"><i class="fas fa-check"></i><div>C</div></div>
                <div class="clicker_button"><i class="fas fa-check"></i><div>D</div></div>
                <div class="clicker_button"><i class="fas fa-check"></i><div>E</div></div>
            </div>
        </div>
    </div>
    <script>
        require('../scripts/clicker.js');
    </script>
</template>